# the generated pdf files
proposal/proposal-preview.pdf
outline/outline-preview.pdf
# haskell compilation files
project/converter.hi
project/converter.o
# the project binary
project/converter
# the build directory
build
# vs code stuff
.vscode
